# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

# Stefano
.directory
.project
COPYING
INSTALL
Makefile
*.m4
autom4te.cache
configure
depcomp
config.*
stamp-h1
install-sh
libtool
ltmain.sh
missing
.deps
.libs
*.lo
*.la
